Drawing interface:SKIASHARP
Font name:BIZ UDGothic
Font size:16
Line height:20
Window width:640
Display loading report:NO
Reduce argument on load:NO
Ignore uncalled functions:NO
Sort filenames:YES
Allow arguments omission for user functions:NO
Auto TOSTR conversion for user function arguments:NO
Use the binary format for saving data:YES
Compress save data:NO
Use sav folder:YES
Disable BEFORE_ERROR/THROW events:YES
Emuera interface language:English
Valid extensions for LOADTEXT and SAVETEXT:txt,xml
