Drawing interface:TEXTRENDERER
Font name:BIZ UDGothic
Font size:16
Line height:20
Window width:320
Display loading report:NO
Reduce argument on load:NO
Ignore uncalled functions:NO
Sort filenames:YES
Use ERD:YES
Use mouse:YES
Use the binary format for saving data:YES
Use sav folder:NO
Disable BEFORE_ERROR/THROW events:YES
Emuera interface language:English
